<nav class="navbar navbar-expand-lg rosa-liverpool">
  <span class="navbar-brand texto-blanco" href="#">Liverpool</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
